html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.song {
  visibility: hidden;
}

.container {
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  visibility: hidden;
  width: 100vw;
}

.container > div {
  left: 0;
  position: absolute;
  right: 0;
  top: 20vh;
}

.one {
  font-size: 4.5rem;
}

.two {
  font-size: 1.2rem;
  font-weight: lighter;
}

.three {
  font-size: 3rem;
}

.three p {
  padding: 0 20px;
}

.four .text-box {
  border: 3px solid #aaa;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 600px;
  max-width: 90%;
  box-sizing: border-box;
}

.text-box p {
  margin: 0;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
}

.text-box span {
  visibility: hidden;
}

.text-box .fake-btn {
  background-color: rgb(21, 161, 237);
  border-radius: 3px;
  bottom: -50px;
  color: #fff;
  padding: .5rem 1rem;
  position: absolute;
  right: 5px;
}

.five p {
  font-size: 2rem;
  left: 0;
  position: absolute;
  right: 0;
}

.idea-3 strong {
  border-radius: 3px;
  display: inline-block;
  padding: 3px 5px;
}

.five .idea-5 {
  font-size: 4rem;
}

.idea-5 span, .idea-6 span, .wish-hbd span {
  display: inline-block;
}

.idea-6 span{
  font-size: 15rem;
}


.six {
  position: relative;
  top: 10vh;
  z-index: 1;
}

.six img {
  display: inline-block;
  height: 350px;
  max-width: 100%;
  /* height: auto; */
}

.six .hat {
  left: 41.5%;
  position: absolute;
  /* transform: scale(0.1); */
  top: -35%;
  width: 80px;
}

.baloons img {
  display: inline-block;
  position: absolute;
}

.baloons img:nth-child(even) {
  left: -10%;
}

.baloons img:nth-child(odd) {
  right: -10%;
}

.baloons img:nth-child(3n + 0) {
  left: 30%;
}

.seven, .eight {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
}

.eight svg {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 25px;
  z-index: -1;
}

.eight svg:nth-child(1) {
  fill: #bd6ecf;
  left: 5vw;
  top: 7vh;
}

.eight svg:nth-child(2) {
  fill: #7dd175;
  left: 35vw;
  top: 23vh;
}

.eight svg:nth-child(3) {
  fill: #349d8b;
  left: 23vw;
  top: 33vh;
}

.eight svg:nth-child(4) {
  fill: #347a9d;
  left: 57vw;
  top: 43vh;
}

.eight svg:nth-child(5) {
  fill: #c66053;
  left: 7vw;
  top: 68vh;
}

.eight svg:nth-child(6) {
  fill: #bfaa40;
  left: 77vw;
  top: 42vh;
}

.eight svg:nth-child(7) {
  fill: #e3bae8;
  left: 83vw;
  top: 68vh;
}

.eight svg:nth-child(8) {
  fill: #8762cb;
  left: 37vw;
  top: 86vh;
}

.eight svg:nth-child(9) {
  fill: #9a90da;
  left: 87vw;
  top: 94vh;
}

.wish-hbd {
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
}

.wish {
  margin-top: 20px;
}

.wish-hbd {
  margin-bottom: 15px;
}

.wish h5 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 10px 0 0;
}

.nine p {
  font-size: 2rem;
  font-weight: lighter;
}

#replay {
  cursor: pointer;
  z-index: 3;
}

/* Media Queries */

/* Large Tablets and Small Desktops */
@media screen and (max-width: 1024px) {
  .one {
    font-size: 3.5rem;
  }

  .three {
    font-size: 2.5rem;
  }

  .four .text-box {
    width: 80%;
    padding: 15px;
  }

  .five p {
    font-size: 1.8rem;
  }

  .five .idea-5 {
    font-size: 3.5rem;
  }

  .idea-6 span {
    font-size: 12rem;
  }

  .six img {
    height: 300px;
  }

  .wish-hbd {
    font-size: 2.5em;
  }

  .wish h5 {
    font-size: 1.8rem;
  }
}

/* Tablets */
@media screen and (max-width: 768px) {
  .container > div {
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .one {
    font-size: 3rem;
  }

  .two {
    font-size: 1rem;
  }

  .three {
    font-size: 2rem;
  }

  .four .text-box {
    width: 85%;
    padding: 12px;
  }

  .text-box p {
    font-size: 0.9rem;
  }

  .five p {
    font-size: 1.5rem;
  }

  .five .idea-5 {
    font-size: 3rem;
  }

  .idea-6 span {
    font-size: 10rem;
  }

  .six {
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .six img {
    height: 280px;
    margin: 0 auto;
    display: block;
  }

  .six .hat {
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
  }

  .wish-hbd {
    font-size: 2em;
    padding: 0 10px;
  }

  .wish {
    margin-top: 15px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wish-hbd {
    margin-bottom: 10px;
    text-align: center;
  }

  .wish h5 {
    font-size: 1.5rem;
    padding: 0 10px;
    margin-top: 8px;
    text-align: center;
  }

  .nine p {
    font-size: 1.8rem;
    padding: 0 20px;
  }
}

/* Large Mobile Devices */
@media screen and (max-width: 600px) {
  .container > div {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .one {
    font-size: 2.5rem;
    text-align: center;
  }

  .two {
    font-size: 0.9rem;
  }

  .three {
    font-size: 1.8rem;
  }

  .four .text-box {
    width: 90%;
    padding: 10px;
  }

  .text-box p {
    font-size: 0.85rem;
  }

  .five p {
    font-size: 1.3rem;
  }

  .five .idea-5 {
    font-size: 2.5rem;
  }

  .idea-6 span {
    font-size: 8rem;
  }

  .six img {
    height: 250px;
  }

  .six .hat {
    left: 38%;
    width: 60px;
  }

  .wish-hbd {
    font-size: 1.8em;
  }

  .wish {
    margin-top: 15px;
  }

  .wish-hbd {
    margin-bottom: 10px;
  }

  .wish h5 {
    font-size: 1.3rem;
    margin-top: 8px;
  }
}

/* Medium Mobile Devices */
@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container > div {
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

  .one {
    font-size: 2rem;
    padding: 0 15px;
  }

  .two {
    font-size: 0.85rem;
    padding: 0 15px;
  }

  .three {
    font-size: 1.5rem;
  }

  .three p {
    padding: 0 15px;
  }

  .four .text-box {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    display: block;
  }

  .text-box p {
    font-size: 0.8rem;
    line-height: 1.4;
  }

  .text-box .fake-btn {
    bottom: -38px;
    right: 5px;
  }

  .five p {
    font-size: 1.2rem;
    padding: 0 15px;
  }

  .idea-3 strong {
    padding: 2px 4px;
  }

  .five .idea-5 {
    font-size: 2rem;
  }

  .idea-5 span {
    display: block;
  }

  .idea-6 span {
    font-size: 7rem;
  }

  .six {
    top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .six img {
    height: 220px;
    max-width: 90%;
    margin: 0 auto;
    display: block;
  }

  .six .hat {
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    top: -30%;
  }

  .wish {
    padding: 0 15px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wish-hbd {
    font-size: 1.5em;
    line-height: 1.3;
    margin-bottom: 8px;
    text-align: center;
  }

  .wish h5 {
    font-size: 1.1rem;
    margin-top: 6px;
    text-align: center;
  }

  .nine p {
    font-size: 1.2rem;
    padding: 0 15px;
  }
}

/* Small Mobile Devices */
@media screen and (max-width: 400px) {
  .container > div {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .one {
    font-size: 1.8rem;
    text-align: center;
  }

  .two {
    font-size: 0.8rem;
    text-align: center;
  }

  .three {
    font-size: 1.3rem;
    text-align: center;
  }

  .four .text-box {
    width: 95%;
    padding: 8px;
    margin: 0 auto;
  }

  .text-box p {
    font-size: 0.75rem;
  }

  .five p {
    font-size: 1.1rem;
  }

  .five .idea-5 {
    font-size: 1.8rem;
  }

  .idea-6 span {
    font-size: 6rem;
  }

  .six {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .six img {
    height: 200px;
    margin: 0 auto;
    display: block;
  }

  .six .hat {
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
  }

  .wish {
    margin-top: 8px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wish-hbd {
    font-size: 1.3em;
    margin-bottom: 5px;
    text-align: center;
  }

  .wish h5 {
    font-size: 1rem;
    margin-top: 5px;
    text-align: center;
  }

  .nine p {
    font-size: 1.1rem;
  }
}

/* Height-based adjustments */
@media screen and (max-height: 1000px) {
  .six .hat {
    left: 40%;
  }
}

@media screen and (max-height: 800px) {
  .container > div {
    top: 15vh;
  }

  .six .hat {
    left: 37%;
  }

  .six img {
    height: 280px;
  }
}

@media screen and (max-height: 700px) {
  .container > div {
    top: 10vh;
  }

  .six .hat {
    left: 32%;
  }

  .six img {
    height: 250px;
  }
}

@media screen and (max-height: 850px) and (max-width: 450px) {
  .six .hat {
    left: 32%;
  }

  .six img {
    height: 200px;
  }
}

/* Landscape orientation for mobile */
@media screen and (max-height: 500px) and (orientation: landscape) {
  .container > div {
    top: 5vh;
  }

  .one {
    font-size: 2rem;
  }

  .three {
    font-size: 1.5rem;
  }

  .six img {
    height: 180px;
  }

  .six .hat {
    width: 40px;
    top: -25%;
  }

  .wish {
    margin-top: 8px;
  }

  .wish-hbd {
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  .wish h5 {
    font-size: 1rem;
    margin-top: 5px;
  }
}

/* SweetAlert Responsive Styles */
@media screen and (max-width: 768px) {
  .swal2-popup {
    width: 90% !important;
    max-width: 400px !important;
    padding: 1.5rem !important;
    font-size: 1rem !important;
  }

  .swal2-title {
    font-size: 1.3rem !important;
    margin-bottom: 1rem !important;
    padding: 0 1rem !important;
  }

  .swal2-content {
    font-size: 0.95rem !important;
    padding: 0 0.5rem !important;
  }

  .swal2-actions {
    margin-top: 1.5rem !important;
    flex-wrap: wrap !important;
    gap: 0.5rem !important;
  }

  .swal2-confirm,
  .swal2-cancel {
    font-size: 0.9rem !important;
    padding: 0.6rem 1.5rem !important;
    margin: 0.25rem !important;
    min-width: 100px !important;
  }
}

@media screen and (max-width: 500px) {
  .swal2-popup {
    width: 95% !important;
    max-width: 350px !important;
    padding: 1.2rem !important;
    margin: 1rem !important;
  }

  .swal2-title {
    font-size: 1.1rem !important;
    margin-bottom: 0.8rem !important;
    padding: 0 0.5rem !important;
    line-height: 1.4 !important;
  }

  .swal2-content {
    font-size: 0.85rem !important;
    padding: 0 0.3rem !important;
    line-height: 1.5 !important;
  }

  .swal2-actions {
    margin-top: 1.2rem !important;
    width: 100% !important;
  }

  .swal2-confirm,
  .swal2-cancel {
    font-size: 0.85rem !important;
    padding: 0.5rem 1.2rem !important;
    margin: 0.2rem !important;
    width: 45% !important;
    min-width: 80px !important;
  }
}

@media screen and (max-width: 400px) {
  .swal2-popup {
    width: 95% !important;
    max-width: 300px !important;
    padding: 1rem !important;
    margin: 0.5rem !important;
  }

  .swal2-title {
    font-size: 1rem !important;
    margin-bottom: 0.6rem !important;
  }

  .swal2-content {
    font-size: 0.8rem !important;
  }

  .swal2-confirm,
  .swal2-cancel {
    font-size: 0.8rem !important;
    padding: 0.45rem 1rem !important;
    width: 48% !important;
  }
}
